<!DOCTYPE html>
<html>
<head>
    <title>Smart Calculators</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>📱 Smart Calculators</h1>
        <div class="card-grid">

            <a href="/basic-calculator" class="card">
                <span class="emoji">🔢</span>
                <span>Basic Calculator</span>
            </a>

            <a href="/bmi-calculator" class="card">
                <span class="emoji">⚖️</span>
                <span>BMI Calculator</span>
            </a>

            <a href="/tip-calculator" class="card">
                <span class="emoji">💰</span>
                <span>Tip Calculator</span>
            </a>

            <a href="/loan-calculator" class="card">
                <span class="emoji">🧮</span>
                <span>Loan/EMI Calculator</span>
            </a>

            <a href="/unit-converter" class="card">
                <span class="emoji">🌡️</span>
                <span>Unit Converter</span>
            </a>

            <a href="/age-calculator" class="card">
                <span class="emoji">🎂</span>
                <span>Age Calculator</span>
            </a>

            <a href="/currency-converter" class="card">
                <span class="emoji">💱</span>
                <span>Currency Converter</span>
            </a>

            <a href="/percentage-calculator" class="card">
                <span class="emoji">📊</span>
                <span>Percentage Calculator</span>
            </a>

            <a href="/discount-calculator" class="card">
                <span class="emoji">💸</span>
                <span>Discount Calculator</span>
            </a>
            <!--<a href="/scientific-calculator" class="card">
  <span class="emoji">🧠</span>
  <span>Scientific Calculator</span>
</a>-->
    <a href="/profit-loss-calculator" class="card">
    <span class="emoji">📈</span>
    <span>Profit & Loss Calculator</span>
</a>


<a href="/date-difference-calculator" class="card">
    <span class="emoji">📅</span>
    <span>Date Difference Calculator</span>
</a>

<a href="/gst-calculator" class="card">
    <span class="emoji">🧾</span>
    <span>GST Calculator</span>
</a>




        </div>
    </div>
</body>
</html>
